@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
  padding-top: 50px;
  background: linear-gradient(to bottom,#27264E, #3f264e, #4e264d, #4e263e, #4e2632, #4e2629);
}

.navbar {
    background-color: rgba(149, 149, 149, 0.312);
    padding: 10px;
    position: fixed !important;
    width: 100%;
    top: 0;
    transition: background-color 0.5s ease;
    backdrop-filter: blur(50px); /* desenfoque */
}

.btn-publicar {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 35px;
  position: relative;
  width: 46%;
  height: 6%;
  background: #fffdfd32;
  backdrop-filter: blur(8px); /* desenfoque */
  color: black;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 0.5px solid #060606;
  overflow: hidden;
  cursor: pointer;
  margin-top: 18%;
}

.btn-publicar:hover{
  color: white;
}

.btn-publicar span {
  position: absolute;
  background: linear-gradient(to right, #ff004875, #871bba75);  
  border-radius: 10px;
  left: 0px;
  width: 40px;
  height: 40px;
  transition: left 0.5s, width 0.5s; /* Agregada transición a las propiedades left y width */
}

i {
  font-size: 80%;
  margin-top: 3px;
}

.text-container {
  width: 100%; /* Asegura que el contenedor de texto ocupe todo el ancho */
}

.btn-publicar:hover span {
  left: 0; /* Mueve el span al lado izquierdo durante el hover */
  width: 100%; /* Ancho completo durante el hover */
}

.card{
  background-color: #ffffff5a;
}