@import url('https://fonts.cdnfonts.com/css/typewriter-condensed');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
  background: linear-gradient(to bottom right, rgb(16, 14, 36), rgb(54, 0, 51), rgb(17, 0, 68));
}

#sidebar {
  background-color: rgba(139, 77, 136, 0.373);
  color: #fff;
  height: 92%;
  position: fixed;
}

@media (max-width: 576px) {
  #sidebar {
    display: none;
  }
}

/* Botones */
.nav-link span:hover {
  background-color: #ffffff34;
}

.nav-link .inicio {
  background-color: #721581a6;
}

.nav-link .logout {
  background-color: #811564a6;
}

.nav-link .perfil {
  background-color: #811539a6;
}
.footer-menu {
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Sombra en la parte superior de la barra */
}

.navbar {
  padding: 0; /* Elimina el relleno predeterminado de Bootstrap */
}

.nav-item {
  margin: 0 10px; /* Espaciado entre elementos del menú */
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 0;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Agrega transiciones suaves */
}

i:hover {
  box-shadow: 0 0 30px rgb(255, 0, 0); /* Aumenta el tamaño de la sombra al hacer hover */
  transform: scale(1.5); /* Aumenta el tamaño del icono al hacer hover */
}

.btn-publicar {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 35px;
  position: relative;
  width: 46%;
  height: 6%;
  background: #fffdfd32;
  backdrop-filter: blur(8px);
  color: black;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 0.5px solid #060606;
  overflow: hidden;
  cursor: pointer;
  margin-top: 14%;
}

.btn-publicar:hover {
  color: white;
}

.btn-publicar span {
  position: absolute;
  background: linear-gradient(to right, #ff004875, #871bba75);
  border-radius: 10px;
  left: 0px;
  width: 40px;
  height: 40px;
  transition: left 0.5s, width 0.5s;
}

i {
  font-size: 80%;
  margin-top: 3px;
}

.text-container {
  width: 100%;
}

.btn-publicar:hover span {
  left: 0;
  width: 100%;
}

.card {
  background-color: rgba(139, 77, 136, 0.645);
  font-family: 'Typewriter_Condensed_Demi', sans-serif;
}

h6 {
  font-family: 'Pixelify Sans', sans-serif;
}
