body {
    background: #202020;
    color: white;
}

#titulo-principal {
  font-family: 'Caramel Sweets', sans-serif;
  font-size: 50px;
  
}

#task-main-container {
  font-family: 'Typewriter_Condensed_Demi', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
  }


.profile-photo {
  width: 40px; /* Ajusta el tamaño según tus necesidades */
  height: 40px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 50%; /* Esto hace que la foto de perfil sea circular */
}
