body {
    background: #202020;
    color: white;
}

#titulo-principal {
  font-family: 'Caramel Sweets', sans-serif;
  font-size: 50px;
  
}

#task-main-container {
  font-family: 'Typewriter_Condensed_Demi', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
  }